<div class="menu-area">
	<div class="container">
		<nav class="navbar">
			{{! MOBILE MENU START }}
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			{{! MENU LIST START }}
			{{! MOBILE MENU END }}
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{{#foreach navigation}}
						 <li><a href="{{url absolute="true"}}">{{label}}</a></li>
					{{/foreach}}
					<li><a href="http://lemonaidrecruiting.com">App</a></li>
				</ul>
			</div>
			{{! MENU LIST END }}
		</nav>
	</div>
</div>