<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Instagram</h4>
	</div>
	<div class="widget-content">
		<div id="instafeed" class="instagram-widget-area"></div>
	</div>
</div>