<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Newsletter</h4>
	</div>
	<div class="widget-content" >
		<form action="//gloriatheme.us11.list-manage.com/subscribe/post?u=d6ae3dab89ef8abb5b37a6ed9&amp;id=0e005855f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			<p>Various versions have evolved over the years, sometimes.</p>
			<div class="form-group">
				<input id="mce-EMAIL" class="text-center" type="email" name="email" placeholder="Your e-mail is here" required>
			</div>
			<button type="submit" class="newsletter-button" id="mc-embedded-subscribe">Subscribe</button>
			<div class="result-newsletter"></div>
		</form>
	</div>
</div>