<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Social Media</h4>
	</div>
	<div class="widget-content">
		<div class="social-media-widget">
			<ul>
				<li><a href="https://twitter.com/GloriaTheme" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/GloriaTheme" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
				<li><a href="#" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
				<li><a href="https://plus.google.com/111420305296774523403" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</div>
</div>