<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Advertisement</h4>
	</div>
	<div class="widget-content">
		<div class="text-center">
			<a href="#"><img src="{{asset "img/ads.jpg"}}" alt="Advertisement" /></a>
		</div>
	</div>
</div>