{{#if @labs.publicAPI}}
	<div class="sidebar-general-wrap widget-box widget_categories">
		<div class="widget-title">
			<h4>Categories</h4>
		</div>
		<ul>
			{{#get "tags" limit="all" include="count.posts" order="count.posts desc" filter="name:-['left', 'right']"}}
				{{#foreach tags}}
					<li>
						<a href="/tag/{{slug}}">
							{{name}}
							<span class="count">
								{{plural count.posts empty='(%)' singular='(%)' plural='(%)'}}
							</span>
						</a>
					</li>
				{{/foreach}}
			{{/get}}
		</ul>
	</div>
{{/if}}