<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Social Media</h4>
	</div>
	<div class="widget-content">
		<div class="social-media-widget">
			<ul>
				<li><a href="https://facebook.com/lemonaidapp" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://twitter.com/lemonaidapp" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UCSxquwmJZjghJi73mWCEaNw" target="_blank"><i class="fa fa-youtube"></i></a></li>
				<li><a href="https://instagram.com/lemonaidapp" target="_blank"><i class="fa fa-instagram"></i></a></li>
				<li><a href="http://blog.lemonaidrecruiting.com/rss" target="_blank"><i class="fa fa-rss"></i></a></li>
				<li><a href="https://plus.google.com/u/1/102467199437642651026" target="_blank"><i class="fa fa-google-plus"></i></a></li>
			</ul>
		</div>
	</div>
</div>