<footer class="clearfix gradient colophon credit" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	{{! Credit}}
	<div class="left copyright">
		&copy; 2016 <a href="{{@blog.url}}">{{@blog.title}}</a>. All Rights Reserved
	</div>

</footer>
