<footer class="clearfix gradient colophon credit" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	{{! Credit}}
	<div class="left copyright">
		&copy; 2016 <a href="{{@blog.url}}">{{@blog.title}}</a>. All Rights Reserved
	</div>

	<div class="right BiyanPasau-didthis">
		<div>
			<span>Design by <a href="https://themeforest.net/user/heybi">Heybi</a></span>. <span>Blog at <a href="http://ghost.org">Ghost</a></span>
		</div>
	</div>
</footer>