<ul class="sidebar-inner" role="complementary" itemscope itemtype="http://schema.org/WPSideBar">
	{{! Author}}
	<li class="widget widget-author">
		<h4 class="title"><span>Crew</span></h4>
		<ul class="widget-content">
			<li class="clearfix"><img src="https://lemonaidrecruiting.com/images/nate.jpg" alt="Nate Boyle"/><a href="https://blog.lemonaidrecruiting.com/author/nate/">Nate Boyle</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="https://lemonaidrecruiting.com/images/eric%20knight.jpg" alt="Eric Knight"/><a href="https://blog.lemonaidrecruiting.com/author/eric-knight/">Eric Knight</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="https://lemonaidrecruiting.com/images/roy%20burch%20olympic%20swimmer.jpg" alt="Roy Burch"/><a href="https://blog.lemonaidrecruiting.com/author/eric-knight/">Roy Burch</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="https://lemonaidrecruiting.com/images/raph%20ruiz%20s3.jpg" alt="Raph Ruiz"/><a href="https://blog.lemonaidrecruiting.com/author/raphael/">Raph Ruiz</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="https://cdnolympic.files.wordpress.com/2012/07/ianwarner_web7.jpg?quality=75" alt="Ian Warner"/><a href="https://blog.lemonaidrecruiting.com/author/eric-knight/">Ian Warner</a><small class="label">Author</small></li>
			<li class="clearfix"><img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAahAAAAJGUzN2Q1NWY5LWEwODUtNGJlOC1iYmE2LTQ0ZWVmYTkwMTA0Ng.jpg" alt="Matt Boyle"/><a href="https://blog.lemonaidrecruiting.com/author/matt/">Matt Boyle</a><small class="label">Author</small></li>
		</ul>
	</li>


	{{! Newsletter}}
	<li class="widget widget-newsletter">
		<h4 class="title"><span>Subscribe</span></h4>
		<div class="widget-content clearfix">
			<p>Get our latest article delivered to your email box</p>
			<div class="subscription-form">{{subscribe_form button_class="gh-button" input_class="gh-input" placeholder="Email address"}}</div>
		</div>
	</li>
</ul>
