{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! SLIDER START }}
<div class="slider-area">
	<div class="home-slider">
		{{> "loop-slider"}}
	</div>
</div>
{{! SLIDER END }}

<div class="site-sub-content">
	<div class="container">
		<div class="sidebar-home-magazine-wrap widget-box">
			<div class="row">
				{{! LEFT CONTENT START }}
				<div class="col-sm-8 col-xs-12 left-content">
					{{! POST LIST START }}
					<div class="post-list home-list-layout">
						{{! POST START }}
						{{! The tag below includes the post loop - partials/loop.hbs }}
						{{> "loop"}}
						{{! POST END }}
					</div>
					{{! POST LIST END }}
					{{! POST PAGINATION START }}
					{{ pagination }}
					{{! POST PAGINATION END }}
				</div>
				{{! LEFT CONTENT END }}
				{{! RIGHT CONTENT START}}
				<div class="col-sm-4 col-xs-12 right-content fixedrightSidebar">
					{{! SIDEBAR START }}
					<aside class="sidebar-general sidebar">
						{{! WIDGET START }}
						{{> "widgets/last-posts"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/tags"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/instagram"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/categories"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/newsletter"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/social-media"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/advertisement"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/facebook"}}
						{{! WIDGET END }}

						{{! WIDGET START }}
						{{> "widgets/twitter"}}
						{{! WIDGET END }}
					</aside>
					{{! SIDEBAR END }}
				</div>
				{{! RIGHT CONTENT END }}
			</div>
		</div>
	</div>
</div>
