{{#if @labs.publicAPI}}
<div class="sidebar-general-wrap widget-box">
	<div class="widget-title">
		<h4>Tags</h4>
	</div>
	<div class="tagcloud">
		{{#get "tags" limit="all" include="count.posts,tags" order="count.posts desc" filter="name:-['left', 'right']"}}
				{{#foreach tags}}
					<a href="/tag/{{slug}}">{{name}}</a>
				{{/foreach}}
		{{/get}}
	</div>
</div>
{{/if}}